body {
    background-color:darkslategrey;
    font-family: Arial, Helvetica, sans-serif ;
    color:aliceblue
}

a{
    color: black;
    text-decoration: none;
}

.button {
    background-color:darksalmon;
    padding:10px 20px;
    margin: 5px;
    
}

.button:hover {
    background-color: aliceblue;
}

p {
    height:auto;
    Width:1000px;
    box-sizing: border-box;
    padding:5px;
    border:10px;
   
}